.container {
    width: 100%;
    max-width: 1280px;
}

.header-top {
    background-color: #451da0;
    max-height: 65px;
}

.footer {
    background-color: #451da0;
}

.page-content {
    background-color: #ffffff;
    position: relative;
}

