<div class="layout-topbar">
    <p-menubar>
        <ng-template pTemplate="start">
            <div class="flex justify-content-center">
                <a class="layout-topbar-logo" routerLink="">
                    <img src="assets/images/logo-xl.jpg" alt="logo" class="mr-2"
                        height="40">
                    <span style="color: var(--primary-color)">JWKJOB</span>
                </a>
                <button class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
                    <i class="pi pi-bars"></i>
                </button>
                <buttton class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
                    <i class="pi pi-ellipsis-v"></i>
                </buttton>
            </div>
        </ng-template>
        <ng-template pTemplate="end">
            <div class="flex align-items-center justify-content-end gap-8">
                <p-chip [label]="'Tâm Tâm'" styleClass="mr-2"></p-chip>
                <p-avatar class="cursor-pointer" (click)="menu.toggle($event)" image="assets/images/avatar-default.jpg"
                    styleClass="mr-2" size="large" shape="circle">
                </p-avatar>
                <p-tieredMenu #menu [model]="menuItems" [popup]="true"></p-tieredMenu>
            </div>
        </ng-template>
    </p-menubar>
</div>
