<div class="w-full h-full flex flex-column">
    <div class="w-full flex flex-row align-items-center justify-content-between">
        <div class="flex flex-row align-items-center justify-content-start py-2">
            <i class="pi pi-list text-4xl cursor-pointer" pTooltip="Tất cả các ngành" tooltipPosition="bottom"
               (click)="visibleSidebarTop = true"></i>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Nhân viên kinh doanh</a>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Kế toán-kiểm toán</a>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Xây dựng</a>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Bán hàng</a>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Kỹ thuật</a>
            <a class="text-black-alpha-80 font-semibold pl-3 cursor-pointer">Hành chính-văn phòng</a>
        </div>
        <div
            class="h-full flex flex-row align-items-center justify-content-center cursor-pointer text-blue-500 font-semibold bg-blue-50 py-3 px-7">
            <p class="mb-0">Tạo hồ sơ</p>
            <i class="pl-3 pi pi-arrow-right"></i>
        </div>
    </div>
    <div class="slider-dashboard w-full md:relative xl:relative">
        <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="1" [circular]="true"
                    [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
            <ng-template let-product pTemplate="item">
                <div class="mb-3 text-center">
                    <img [src]="product.image" [alt]="product.name" class="w-full h-full" style="min-height: 150px;"/>
                </div>
                <h4 class="m-0 flex justify-content-center">{{product.name}}</h4>
            </ng-template>
        </p-carousel>
        <div class="box-search md:absolute xl:absolute">
            <p-card id="searchbox" class="pl-4 sm:pl-0">
                <div>
                    <div class="p-inputgroup">
                        <button style="cursor: default;" pButton pRipple icon="pi pi-search"></button>
                        <input type="text" pInputText placeholder="Keyword"/>
                        <button type="button" pButton pRipple icon="pi pi-filter" [label]="'Tìm kiếm'"></button>
                    </div>
                </div>
                <div class="grid mt-2">
                    <p-dropdown class="col-12 sm:col-6" [options]="jobs" [(ngModel)]="selectedJob"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="Tất cả ngành nghề" optionLabel="name" optionValue="id" [showClear]="true"
                                [filter]="true" filterBy="name"></p-dropdown>
                    <p-dropdown class="col-12 sm:col-6" [options]="provinces" [(ngModel)]="selectedProvince"
                                [ngModelOptions]="{ standalone: true }"
                                placeholder="Tất cả tỉnh thành" optionLabel="name" optionValue="id" [showClear]="true"
                                [filter]="true" filterBy="name"></p-dropdown>
                </div>
            </p-card>
        </div>
    </div>
    <div class="grid py-4 px-2">
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span>8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span>8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span>8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span>8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span>8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
        <div class="col-2 border-1 border-300 hover:shadow-4">
            <a class="flex flex-column align-items-center justify-content-center">
                <img
                    src="https://cdn1.vieclam24h.vn/images/old_employer_avatar/images/db13c1356f7bf4d85ae588cb3babf50b_1425543387_logo.w-96.h-96.jpeg">
                <p class="text-center">
                    <i class="pi pi-briefcase"></i>
                    <span class="pl-2">8 vị trí tuyển dụng</span>
                </p>
            </a>
        </div>
    </div>

    <div class="hot-job w-full border-round-xl">
        <div class="flex flex-row align-items-center justify-content-start p-3">
            <h3 class="text-color mb-0">Việc làm tuyển gấp</h3>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Tất cả</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Việc làm theo chuyển môn</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Việc làm quản lý</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Lao động phổ thông</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Bán thời gian</a>
        </div>
        <div class="w-full flex flex-column">
            <p-carousel [value]="hotJobs" [numVisible]="1" [numScroll]="3" [circular]="true">
                <ng-template let-hotJob pTemplate="item">
                    <div class="hot-job-item w-full">
                        <div class="grid m-0">
                            <ng-container *ngFor="let job of hotJob.jobs">
                                <div class="col-4">
                                    <div
                                        class="w-full flex flex-column border-1 border-round-md border-blue-200 bg-white hover:border-blue-500">
                                        <div class="flex align-items-center justify-content-between p-3">
                                            <p class="text-color font-semibold mb-0">{{job?.name}}</p>
                                            <i class="pi pi-heart"></i>
                                        </div>
                                        <div class="grid p2 m-0">
                                            <div class="col-4">
                                                <img class="img-job-item" [src]="job?.url">
                                            </div>
                                            <div
                                                class="col-8 flex flex-column align-items-start justify-content-between">
                                                <p class="text-color mb-0">{{job?.companyName}}</p>
                                                <div class="flex align-items-center justify-content-start">
                                                    <i class="pi pi-money-bill"></i>
                                                    <p class="mb-0">{{job?.salary}}</p>
                                                    <i class="pi pi-map-marker ml-3"></i>
                                                    <p class="mb-0">{{job?.address}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>

    <div class="employer flex flex-column my-6">
        <h2 class="w-full text-center text-color">Nhà tuyển dụng hàng đầu</h2>
        <p-carousel [value]="employers" [numVisible]="1" [numScroll]="3" [circular]="true">
            <ng-template let-employer pTemplate="item">
                <div class="w-full grid m-0">
                    <ng-container *ngFor="let item of employer.list">
                        <div class="col-2">
                            <a class="w-full px-3 flex flex-column align-items-center justify-content-center">
                                <img class="img-employer-item bg-white border-1 border-300 hover:shadow-5"
                                     [src]="item.url">
                                <p class="text-color font-semibold text-xs pt-2">{{item.name}}</p>
                            </a>
                        </div>
                    </ng-container>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="hot-job w-full border-round-xl">
        <div class="flex flex-row align-items-center justify-content-start p-3">
            <h3 class="text-color mb-0">Việc làm mới nhất</h3>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Tất cả</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Việc làm theo chuyển môn</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Việc làm quản lý</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Lao động phổ thông</a>
            <a class="text-color font-semibold pl-3 cursor-pointer hover:text-blue-500">Bán thời gian</a>
        </div>
        <div class="w-full flex flex-column">
            <p-carousel [value]="hotJobs" [numVisible]="1" [numScroll]="3" [circular]="true">
                <ng-template let-hotJob pTemplate="item">
                    <div class="hot-job-item w-full">
                        <div class="grid m-0">
                            <ng-container *ngFor="let job of hotJob.jobs">
                                <div class="col-4">
                                    <div
                                        class="w-full flex flex-column border-1 border-round-md border-blue-200 bg-white hover:border-blue-500">
                                        <div class="flex align-items-center justify-content-between p-3">
                                            <p class="text-color font-semibold mb-0">{{job?.name}}</p>
                                            <i class="pi pi-heart"></i>
                                        </div>
                                        <div class="grid p2 m-0">
                                            <div class="col-4">
                                                <img class="img-job-item" [src]="job?.url">
                                            </div>
                                            <div
                                                class="col-8 flex flex-column align-items-start justify-content-between">
                                                <p class="text-color mb-0">{{job?.companyName}}</p>
                                                <div class="flex align-items-center justify-content-start">
                                                    <i class="pi pi-money-bill"></i>
                                                    <p class="mb-0">{{job?.salary}}</p>
                                                    <i class="pi pi-map-marker ml-3"></i>
                                                    <p class="mb-0">{{job?.address}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>


    <div class="flex flex-column my-6">
        <h2 class="w-full text-center text-color">Cảm nang nghề nghiệp</h2>
        <div class="w-full grid">
            <div class="col-4 p-3">
                <div class="flex flex-column align-items-center justify-content-center">
                    <img class="w-full career-img border-round-top-sm"
                         src="https://nghenghiep.vieclam24h.vn/wp-content/uploads/2022/07/shutterstock_1472941637.png">
                    <h4 class="text-color">Có nên dựa vào review công ty để ứng tuyển công việc mới?</h4>
                    <p class="w-full career-detail text-overflow-ellipsis">Review công ty đang trở thành xu hướng trong
                        bối cảnh lên ngôi của chủ nghĩa “minh bạch thông
                        tin”. Sự phát triển đa dạng của muôn vàn ứng dụng xã hội đã tạo tiền đề cho người dùng dễ dàng
                        truy cập, tìm kiếm mọi thông tin mình cần. Cũng chính vì lẽ ấy, việc ứng viên chủ động tìm hiểu
                        về tính chất công việc, môi trường làm việc của doanh nghiệp trước khi đưa ra quyết định ứng
                        tuyển đã trở thành một nét văn hoá săn việc thời đại số.</p>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="flex flex-column align-items-center justify-content-center">
                    <img class="w-full career-img border-round-top-sm"
                         src="https://nghenghiep.vieclam24h.vn/wp-content/uploads/2022/07/shutterstock_1472941637.png">
                    <h4 class="text-color">Có nên dựa vào review công ty để ứng tuyển công việc mới?</h4>
                    <p class="w-full career-detail text-overflow-ellipsis">Review công ty đang trở thành xu hướng trong
                        bối cảnh lên ngôi của chủ nghĩa “minh bạch thông
                        tin”. Sự phát triển đa dạng của muôn vàn ứng dụng xã hội đã tạo tiền đề cho người dùng dễ dàng
                        truy cập, tìm kiếm mọi thông tin mình cần. Cũng chính vì lẽ ấy, việc ứng viên chủ động tìm hiểu
                        về tính chất công việc, môi trường làm việc của doanh nghiệp trước khi đưa ra quyết định ứng
                        tuyển đã trở thành một nét văn hoá săn việc thời đại số.</p>
                </div>
            </div>
            <div class="col-4 p-3">
                <div class="flex flex-column align-items-center justify-content-center">
                    <img class="w-full career-img border-round-top-sm"
                         src="https://nghenghiep.vieclam24h.vn/wp-content/uploads/2022/07/shutterstock_1472941637.png">
                    <h4 class="text-color">Có nên dựa vào review công ty để ứng tuyển công việc mới?</h4>
                    <p class="w-full career-detail text-overflow-ellipsis">Review công ty đang trở thành xu hướng trong
                        bối cảnh lên ngôi của chủ nghĩa “minh bạch thông
                        tin”. Sự phát triển đa dạng của muôn vàn ứng dụng xã hội đã tạo tiền đề cho người dùng dễ dàng
                        truy cập, tìm kiếm mọi thông tin mình cần. Cũng chính vì lẽ ấy, việc ứng viên chủ động tìm hiểu
                        về tính chất công việc, môi trường làm việc của doanh nghiệp trước khi đưa ra quyết định ứng
                        tuyển đã trở thành một nét văn hoá săn việc thời đại số.</p>
                </div>
            </div>
        </div>
        <div class="flex align-items-center justify-content-center py-4">
            <a class="border-1 border-blue-200 border-round-sm text-purple-600 font-semibold p-2">XEM THÊM CẨM NANG NGHÊ NGHIỆP</a>
        </div>
    </div>

    <div class="hot-job w-full border-round-xl p-4 mb-4">
        <div class="grid w-full">
            <div class="col-4 flex flex-column">
                <h5 class="text-color font-semibold">Việc làm theo ngành nghề</h5>
                <div class="flex flex-column">
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                </div>
            </div>
            <div class="col-4 flex flex-column">
                <h5 class="text-color font-semibold">Việc làm theo ngành nghề</h5>
                <div class="flex flex-column">
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                </div>
            </div>
            <div class="col-4 flex flex-column">
                <h5 class="text-color font-semibold">Việc làm theo ngành nghề</h5>
                <div class="flex flex-column">
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                    <p>Việc làm bán thời gian</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="visibleSidebarTop" class="all-menu">
    <div class="w-full bg-white flex align-items-center justify-content-center">
        <div class="dashboard-container flex flex-column align-items-start justify-content-start">
            <div class="w-full flex flex-row align-items-center justify-content-start py-4">
                <i class="pi pi-times text-2xl cursor-pointer" (click)="visibleSidebarTop = false"></i>
                <h4 class="pl-3 my-0 text-color">Danh sách tất cả ngành nghề</h4>
            </div>
            <div class="w-full py-1">
                <div class="grid">
                    <div class="col-3">
                        <div class="pb-2 border-bottom-2 border-blue-500">
                            <p class="font-semibold text-color">Top 10 ngành nghề</p>
                        </div>
                        <div class="py-4">
                            <p>Nhân viên kinh doanh</p>
                            <p>Kế toán-kiểm toán</p>
                            <p>Xây dựng</p>
                            <p>Bán hàng</p>
                            <p>Kỹ thuật</p>
                        </div>
                        <div class="py-4">
                            <p>Hành chính-văn phòng</p>
                            <p>Marketing-PR</p>
                            <p>Cơ khí chế tạo</p>
                            <p>Tư vấn</p>
                            <p>KD bất động sản</p>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="pb-2 border-bottom-2 border-pink-700">
                            <p class="font-semibold text-color">Ngành khác</p>
                        </div>
                        <div class="py-4 border-bottom-1 border-200 grid">
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                        </div>
                        <div class="py-4 border-bottom-1 border-200 grid">
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                        </div>
                        <div class="py-4 grid">
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                            <div class="col-3">
                                <p>Nhân viên kinh doanh</p>
                                <p>Kế toán-kiểm toán</p>
                                <p>Xây dựng</p>
                                <p>Bán hàng</p>
                                <p>Kỹ thuật</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="home" class="surface-0 overflow-hidden" [@fadeIn]="{ value: fadeIn, params: { timing: 1, delay: 0 } }">-->
<!--   <div id="searchGroup" class="sm:absolute sm:ml-8" style="z-index: 1; box-shadow: none;">-->
<!--        <p-card id="searchbox" class="pl-4 sm:pl-0">-->
<!--            <div>-->
<!--                <div class="p-inputgroup">-->
<!--                    <button style="cursor: default;" pButton pRipple icon="pi pi-search"></button>-->
<!--                    <input type="text" pInputText placeholder="Keyword" />-->
<!--                    <button type="button" pButton pRipple icon="pi pi-filter" [label]="'Tìm kiếm'"></button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="grid mt-2">-->
<!--                <p-dropdown class="col-12 sm:col-6" [options]="jobs" [(ngModel)]="selectedJob" [ngModelOptions]="{ standalone: true }"-->
<!--                    placeholder="Tất cả ngành nghề" optionLabel="name" optionValue="id" [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>-->
<!--                <p-dropdown class="col-12 sm:col-6" [options]="provinces" [(ngModel)]="selectedProvince" [ngModelOptions]="{ standalone: true }"-->
<!--                    placeholder="Tất cả tỉnh thành" optionLabel="name" optionValue="id" [showClear]="true" [filter]="true" filterBy="name"></p-dropdown>-->
<!--            </div>-->
<!--        </p-card>-->
<!--    </div>-->
<!--    &lt;!&ndash;job types&ndash;&gt;-->
<!--    &lt;!&ndash; {{jobTypes | json}} &ndash;&gt;-->
<!--    <div class="flex flex-wrap justify-content-center mt-4 px-2" style="gap: 12px;">-->
<!--        <div *ngFor="let job of jobTypes">-->
<!--            <p-badge class="jobType" [value]="job.nameVn"></p-badge>-->
<!--        </div>-->
<!--    </div>-->

<!--    <p-divider></p-divider>-->
<!--    &lt;!&ndash;banner&ndash;&gt;-->
<!--    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="1" [circular]="true"-->
<!--        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">-->
<!--        <ng-template pTemplate="header">-->
<!--            &lt;!&ndash; <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5> &ndash;&gt;-->
<!--        </ng-template>-->
<!--        <ng-template let-product pTemplate="item">-->
<!--            <div class="mb-3 text-center">-->
<!--                <img [src]="product.image" [alt]="product.name" class="w-full h-full" style="min-height: 150px;" />-->
<!--            </div>-->
<!--            <h4 class="m-0 flex justify-content-center">{{product.name}}</h4>-->
<!--        </ng-template>-->
<!--    </p-carousel>-->

<!--    <p-divider></p-divider>-->

<!--    &lt;!&ndash;employer list&ndash;&gt;-->
<!--    <div class="flex flex-wrap justify-content-center px-2">-->
<!--        <div *ngFor="let employer of employers">-->
<!--            <p-card class="p-1">-->
<!--                <div class="flex flex-column align-items-center" style="min-height: 100px;">-->
<!--                    &lt;!&ndash; {{employer.avatar | json}} &ndash;&gt;-->
<!--                    <img src="assets/images/avatar-default.jpg" width="150" height="75" />-->
<!--                    <span class="mt-2 text-center font-bold text-primary">{{employer.name}}</span>-->
<!--                    <span class="mt-4 text-center flex align-items-center">-->
<!--                        <i class="pi pi-briefcase"></i>-->
<!--                        <span class="text-primary px-1 font-bold">{{employer.amountHiring}}</span>-->
<!--                        <span>{{'label.recruit_position' | translate}}</span>-->
<!--                    </span>-->
<!--                </div>-->
<!--            </p-card>-->
<!--        </div>-->
<!--    </div>-->

<!--    <p-divider></p-divider>-->

<!--    <div id="main">-->

<!--    </div>-->
<!--</div>-->
