.container {
    width: 100%;
    max-width: 1280px;
}

.header-top {
    background-color: #451da0;
    max-height: 65px;
}

.footer {
    background-color: #451da0;
}

.page-content {
    background-color: #ffffff;
}

.all-menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.6);
}

.dashboard-container {
    width: 100%;
    max-width: 1280px;
}

.box-search {
    width: calc(50% - 110px);
    top: calc(50% - 105px);
    left: 80px;
}

:host::ng-deep.p-card {
    background: rgba(0, 0, 0, 0.24);
    border-radius: 16px;
}
.hot-job{
    background: #fafaff;
}
.img-job-item{
    height: 80px;
    width: 80px;
    object-fit: scale-down;
}
.img-employer-item{
    height: 120px;
    width: 120px;
    object-fit: scale-down;
}
.career-img{
    height: 195px;
    object-fit: fill;
}
.career-detail{
    max-height: 80px;
    overflow: hidden;
}

