<div class="card card-table">
    <app-arise-filter [filter]="paramToGetLedgers" (filterChange)="getLedgers()" [types]="types"></app-arise-filter>

    <p-contextMenu #cm [model]="items"></p-contextMenu>

    <p-table #dt1 [value]="ledgers" ariseKey="id" [rows]="5" [rowHover]="true" [paginator]="false"
        [selectionPageOnly]="true" [contextMenu]="cm" [responsiveLayout]="'scroll'"
        [totalRecords]="totalRecords" [showCurrentPageReport]="true" [lazy]="true" scrollDirection="both"
        [(contextMenuSelection)]="selectedAriseContext" [(selection)]="selectedArises" selectionMode="multiple" [scrollable]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 50px;" [translate]="'label.date'"></th>
                <th style="width: 50px;" [translate]="'label.ctgs'"></th>
                <th style="width: 60px;" [translate]="'label.code'"></th>
                <th style="width: 60px;" [translate]="'label.date'"></th>
                <th style="width: 290px;" [translate]="'label.explain'"></th>
                <th style="width: 60px;" [translate]="'label.debit_code_name'"></th>
                <th style="width: 80px" [translate]="'label.detail_1'"></th>
                <th style="width: 60px;" [translate]="'label.credit_code_name'"></th>
                <th style="width: 80px" [translate]="'label.detail_1'"></th>
                <th style="width: 50px;" [translate]="'label.SL'"></th>
                <th style="width: 90px;" [translate]="'label.stock_price'"></th>
                <th style="width: 90px;" [translate]="'label.amount_of_money'"></th>
                <th style="width: 80px" [translate]="'label.foreign_currency'"></th>
                <th style="width: 70px;" [translate]="'label.exchange_rate'"></th>
                <th style="width: 70px;" [translate]="'label.invoice'"></th>
                <th style="width: 70px;" [translate]="'label.contract_number'"></th>
                <th style="width: 80px" [translate]="'label.contract_date'"></th>
                <th alignFrozen="right" pFrozenColumn [frozen]="true" style="width: 80px" [translate]="'label.action'">
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-arise let-rowIndex="rowIndex">
            <tr [pContextMenuRow]="arise" [pSelectableRow]="arise" [pSelectableRowIndex]="rowIndex"
                [pTooltip]="getToolTipRow(arise)" [ngClass]="{'row-accessories': (arise && selectedArise && arise.id === selectedArise.id)}">
                <td>
                    <p-tableCheckbox [value]="arise"></p-tableCheckbox>
                </td>
                <td class="text-center" style="width: 50px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.orginal_book_date'"></span>{{ arise.orginalBookDate | date: "dd-MM" }}
                </td>
                <td style="width: 50px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.voucher_number'"></span>{{ arise.voucherNumber }}
                </td>
                <td style="width: 60px" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.orginal_voucher_number'"></span>{{ arise.orginalVoucherNumber }}
                </td>
                <td style="width: 60px" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.orginal_book_date'"></span>{{ arise.orginalBookDate | date: "dd/MM/yyyy" }}
                </td>
                <td style="width: 290px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.orginal_description'"></span>
                    <div *ngIf="arise?.orginalDescription && arise?.orginalDescription.length > 60" class="marquee">
                        <div>{{arise?.orginalDescription}}</div>
                    </div>
                    <div *ngIf="!(arise?.orginalDescription && arise?.orginalDescription.length > 60)">
                        {{arise?.orginalDescription}}
                    </div>
                </td>
                <td style="width: 60px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.debit_code'"></span>{{ arise.debitCode }}
                </td>
                <td style="width: 80px" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.debit_detail_code_first'"></span>{{ arise.debitDetailCodeFirst }}
                </td>
                <td style="width: 60px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.credit_code'"></span>{{ arise.creditCode }}
                </td>
                <td style="width: 80px" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.credit_detail_code_first'"></span>{{ arise.creditDetailCodeFirst }}
                </td>
                <td style="width: 50px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.quantity'"></span>{{ arise.quantity | number }}
                </td>
                <td style="width: 90px;" class="md:flex md:justify-content-end" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.unit_price'"></span>{{ arise.unitPrice | number }}
                </td>
                <td style="width: 90px;" class="md:flex md:justify-content-end" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.amount'"></span>{{ arise.amount | number }}
                </td>
                <td style="width: 70px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.orginal_currency'"></span>{{ arise.orginalCurrency }}
                </td>
                <td style="width: 70px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.exchange_rate'"></span>{{ arise.exchangeRate }}
                </td>
                <td style="width: 70px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.invoice_code'"></span>{{ arise.invoiceCode }}
                </td>
                <td style="width: 70px;" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.invoice_number'"></span>{{ arise.invoiceNumber }}
                </td>
                <td style="width: 80px" (click)="selectRecord(arise)">
                    <span class="p-column-title" [translate]="'label.invoice_date'"></span>{{ arise.invoiceDate  | date : 'dd/MM/yyyy' }}
                </td>
                <td *ngIf="isMobile" style="width: 80px" class="gap-8">
                    <button pButton class="p-button-warning" icon="pi pi-pencil"
                        (click)="getDetail(arise.id)"></button>
                    <button pButton class="p-button-danger" icon="pi pi-trash" (click)="onDelete(arise.id)"></button>
                </td>
                <td *ngIf="!isMobile" alignFrozen="right" pFrozenColumn [frozen]="true"
                    class="flex justify-content-start md:justify-content-center gap-8" style="width: 80px">
                    <button pButton class="p-button-warning p-button-sm" icon="pi pi-print" (click)="getDetail(arise.id)"></button>
                    <button pButton class="p-button-danger p-button-sm" icon="pi pi-trash" (click)="onDelete(arise.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="w-full pt-4 pb-4">No Arise found.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td class="w-full pt-4 pb-4">Loading Arise arise. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="getLedgers($event)" class="absolute px-2 right-0" [rows]="10" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 10]"></p-paginator>
    <app-add-ledger #addLedgerForm [nextStt]="nextStt" [paramToGetLedgers]="paramToGetLedgers" [types]="types"
        [formData]="formData" [isEdit]="isEdit" (onCancel)="getLedgers()"></app-add-ledger>
</div>

<!-- <app-pnpc id="PNPC" hidden *ngIf="isPrintNK === true" [company]="company" [ledgers]="ledgers"></app-pnpc>
<app-pxn id="PXN" hidden *ngIf="isPrintNX === true" [company]="company" [ledgers]="ledgers"></app-pxn> -->

<p-confirmDialog #cd icon="pi pi-exclamation-triangle" [style]="{'min-width': '45vw'}">
    <ng-template pTemplate="header">
        <h4 class="m-0 text-white" [translate]="'question.delete_arise_header'"></h4>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-times" [label]="'button.back' | translate"
            (click)="cd.reject()"></button>
        <button class="p-button-danger" type="button" pButton icon="pi pi-check" [label]="'button.remove' | translate"
            (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
