<div class="w-full h-full flex justify-content-between align-items-center py-3">
    <div class="flex align-items-center justify-content-start">
        <a class="flex align-items-center justify-content-start border-right-1 border-white pr-3">
            <img src="./assets/images/logo.jpg" class="max-w-2rem max-h-2rem logo">
            <p class="text-white font-bold text-2xl">JWKJOB</p>
        </a>
        <button pButton pRipple type="button" class="p-button-text ml-3 text-white font-semibold header-button">Cơ hội
            làm việc
        </button>
        <button pButton pRipple type="button" class="p-button-text text-white font-semibold header-button">Công cụ tính
            lương
        </button>
        <button pButton pRipple type="button" class="p-button-text text-white font-semibold header-button">
            <p class="mb-0 mr-1">Gói đăng tin miễn phí</p>
            <div class="py-1 px-2 border-1 border-round-sm btn-new">New</div>
        </button>
    </div>
    <div class="flex">
        <p-dropdown #dropdown class="mr-3" [options]="zones" [(ngModel)]="zoneId" optionLabel="name" (mouseenter)="dropdown.show()" (mouseleave)="dropdown.hide()"></p-dropdown>
        <button pButton pRipple type="button" icon="pi pi-bell" class="mr-3 header-button-bell"></button>
        <button pButton pRipple type="button" class="p-button-text text-white font-semibold header-button">
            Đăng nhập
        </button>
        <a class="flex align-items-center justify-content-start border-left-1 border-white pl-3 cursor-pointer">
            <i class="pi pi-briefcase icon-right"></i>
            <div class="flex flex-column align-items-start justify-content-start">
                <p class="mb-0 text-white font-semibold">Nhà tuyển dụng</p>
                <div class="flex align-items-center justify-content-start">
                    <small class="text-white">Đăng tin miễn phí</small>
                    <div class="ml-2 py-1 px-2 border-round-sm btn-new-right">New</div>
                </div>
            </div>
        </a>
    </div>
</div>
