.is-table {
    ::ng-deep {
        .p-datatable {
            .p-datatable-thead {
                th {
                    span {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    

    .table-header {
        margin-bottom: 20px;
        display: flex;

        &__button {}

        &__dropdown {}

        &__search {}
    }

    .excel-dropdown {
        ::ng-deep {
            .p-dropdown {
                width: 102px !important;
            }
        }

    }

    &--scroll {
        ::ng-deep {
            .p-datatable-wrapper {
                .p-datatable-thead {
                    position: sticky;
                    top: 0;
                    z-index: 1;
                }
            }
        }
    }
}