<div class="w-full py-4 flex flex-column">
    <div class="w-full grid border-bottom-1 border-white">
        <div class="col-6 flex flex-column">
            <h4>Hotline cho người tìm việc</h4>
            <div class="grid m-0">
                <div class="col-6 border-right-2 border-white">
                    <div class="grid m-0">
                        <div class="col-2 flex flex-column align-items-start justify-content-center">
                            <i class="pi pi-phone text-4xl text-white"></i>
                        </div>
                        <div class="col-10 flex flex-column align-items-start justify-content-center">
                            <p class="mb-0">Hotline hỗ trợ miền nam</p>
                            <h5 class="mb-0">HCM:(028) 7109 2424</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="grid m-0">
                        <div class="col-2 flex flex-column align-items-start justify-content-center">
                            <i class="pi pi-phone text-4xl text-white"></i>
                        </div>
                        <div class="col-10 flex flex-column align-items-start justify-content-center">
                            <p class="mb-0">Hotline hỗ trợ miền nam</p>
                            <h5 class="mb-0">HCM:(028) 7109 2424</h5>
                        </div>
                    </div>
                </div>
            </div>
            <p class="flex align-items-center justify-content-start">hoặc: <button pButton>Đăng ký nhận tư vấn</button></p>
        </div>
        <div class="col-6 flex flex-column">
            <h4>Hotline cho người Nhà tuyển dụng</h4>
            <div class="grid m-0">
                <div class="col-6 border-right-2 border-white">
                    <div class="grid m-0">
                        <div class="col-2 flex flex-column align-items-start justify-content-center">
                            <i class="pi pi-phone text-4xl text-white"></i>
                        </div>
                        <div class="col-10 flex flex-column align-items-start justify-content-center">
                            <p class="mb-0">Hotline hỗ trợ miền nam</p>
                            <h5 class="mb-0">HCM:(028) 7109 2424</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="grid m-0">
                        <div class="col-2 flex flex-column align-items-start justify-content-center">
                            <i class="pi pi-phone text-4xl text-white"></i>
                        </div>
                        <div class="col-10 flex flex-column align-items-start justify-content-center">
                            <p class="mb-0">Hotline hỗ trợ miền nam</p>
                            <h5 class="mb-0">HCM:(028) 7109 2424</h5>
                        </div>
                    </div>
                </div>
            </div>
            <p class="flex align-items-center justify-content-start">hoặc: <button pButton>Đăng ký nhận tư vấn</button></p>
        </div>
    </div>
</div>
