@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "../src/assets/css/demo5.min.css";
@import "../src/assets/vendor/fontawesome-free/css/all.min.css";
.flex-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-right {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.flex-center {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-middle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-item-0 {
    flex-grow: 0;
    padding: 5px;
}

.flex-item-1 {
    flex-grow: 1;
    padding: 5px;
}

.flex-item-2 {
    flex-grow: 2;
    padding: 5px;
}

.flex-item-label-0 {
    flex-grow: 0;
    padding: 5px;
}

.flex-item-label-1 {
    flex-grow: 1;
    padding: 5px;
}

.flex-item-label-2 {
    flex-grow: 2;
    padding: 5px;
}

.flex-basic-0 {
    flex-basis: calc(100% / 5);
}

.flex-basic-1 {
    flex-basis: calc(100% / 1);
}

.flex-basic-2 {
    flex-basis: calc(100% / 2);
}

.flex-basic-3 {
    flex-basis: calc(100% / 3);
}

.flex-basic-4 {
    flex-basis: calc(100% / 4);
}

.flex-basic-5 {
    flex-basis: calc(100% / 5);
}

.flex-basic-6 {
    flex-basis: calc(100% / 6);
}

.flex-basic-7 {
    flex-basis: calc(100% / 7);
}

.flex-item-0 a:hover, .flex-item-1 a:hover, .flex-item-2 a:hover {
    text-decoration: none;
    cursor: pointer;
}

.flex-item-0 textarea, .flex-item-1 textarea, .flex-item-2 textarea {
    width: 100%;
}

.flex-item-0 input, .flex-item-1 input, .flex-item-2 input, .flex-item-0 select, .flex-item-1 select, .flex-item-2 select, .flex-item-0 button, .flex-item-1 button, .flex-item-2 button, .flex-item-0 textarea, .flex-item-1 textarea, .flex-item-2 textarea {
    border-radius: 4px !important;
}

.flex-item-0 p, .flex-item-1 p, .flex-item-2 p {
    margin-bottom: 0px;
    font-weight: bold;
}

.flex-item-label-0 p, .flex-item-label-1 p, .flex-item-label-2 p {
    margin-bottom: -9px;
    font-weight: bold;
}